service firebase.storage {
  match /b/{bucket}/o {
    match /{userId}/invoices/{file}{
      allow read, write: if request.auth.uid == userId;
    }
  }
}
