div.dashboard-container {
	width: 100vw;
	height: calc(100vh - 2em);
	position: relative;
	display: block;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background-image: url('./bg-white.svg');
	min-height: 800px;
	padding: 1em 0;
}

div.dashboard{
	font-size: 1rem;
	width: 100%;
	max-width: 500px;
	margin: auto;
}

div.dashboard .files-table {
  border: 1px solid transparent;
  border-radius: 10px;
  display: grid;
}

div.dashboard .files-table .entry{
  display: grid;
  grid-template-columns: 20% auto auto;
  grid-column-gap: .5em;
  padding: 1em 1em;
  margin: 0em 1em;
  overflow: hidden;
  align-items: center;
  border-top: 1px solid #C6AFFF;
  min-height: 20px;
  background-clip: border-box;
}