form.invoice-form {
	font-size: 1rem;
	width: 90%;
	max-width: 940px;
	margin: auto;
}

form.invoice-form .fees-grid {
	width: 400px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 10px;
}

form.invoice-form .item-description-table .entry,
form.invoice-form .item-description-table .entry-title {
	display: grid;
	grid-template-columns: 24px minmax(8rem,auto) 8rem 8rem;
	grid-column-gap: .5em;
	padding: .7em 0em;
	align-items: center;
	min-height: 20px;
	background-clip: border-box;
}

form.invoice-form * {
	color: #192466;
	text-decoration: none;
}

form.invoice-form a:hover {
	text-decoration: underline;
}

form.invoice-form .item-description-table .entry:nth-child(2) {
	border-top: 1px solid transparent;
}

form.invoice-form .item-description-table {
	border: 1px solid transparent;
	border-radius: 10px;
	display: grid;
	width: 100%;
	overflow: auto;
}

form.invoice-form .client-info-inputs {
	/* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); */
	padding: 1em;
}

.progress-bar {
	width: 100%;
	max-width: 5em;
	min-width: 4em;
	background-color: rgb(230, 230, 230);
	height: .3em;
	border-radius: 100px;
	overflow: hidden;
	transition: all .3s ease-in-out;
}

.progress-bar #progress-bar-colored {
	transition: all .3s ease-in-out;
	margin: 0;
	width: 0%;
	height: 100%;
	background-color: #b596ff;
}

form.invoice-form .item-description-table .entry-title {
	border: none;
}

form.invoice-form .entry-title div {
	color: #8c99ff;
	font-weight: 600;
}

form.invoice-form .client-info-inputs .inputs {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1rem;
	/* grid-column-gap: 1em; */
}

form.invoice-form .client-info-inputs .inputs input,
form.invoice-form .notes textarea.notes-input {
	border-bottom: 1px solid #b596ff;
	font-weight: 500;
	padding: .5em 0em;
	text-indent: .5em;
	outline: none;
	appearance: none;
	-webkit-appearance: none;
}

form.invoice-form .uploading-section {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	margin: 0.3em 0 1em;
}

form.invoice-form .uploading-section div {
	margin: 0 .5em;
}

form.invoice-form .button-area {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

form.invoice-form .button-area a {
	margin: 0 1em;
}

form.invoice-form .client-total-bill {
	display: flex;
	flex-direction: column;
	width: calc(100% - 2rem);
	justify-content: flex-end;
	align-items: flex-end;
	margin: 1rem;
}


form.invoice-form .client-total-bill .emphasis {
	font-weight: bold;
	font-size: 1.2rem;
}

form.invoice-form .button {
	margin: 1em 0;
	text-transform: capitalize;
	background-color: #192466;
	box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
	border-radius: 25px;
	display: inline-block;
	color: #fff;
	padding: 1em;
	min-width: 6em;
	text-align: center;
	cursor: pointer;
}

form.invoice-form input {
	width: 100%;
	appearance: none;
	font-size: 1rem;
	border: none;
}

form.invoice-form input.input-with-label  {
	outline: none;
	padding: .7rem 0em;
	text-indent: 1rem;
	border-radius: 20px;
	transition: .3s all ease;

	font-weight: 500;
	width: 100%;
	min-width: 200px;
	max-width: 20rem;
	background-color: rgba(198, 175, 255, 0.3);
}

/* form.invoice-form .input-with-label input::placeholder {
	color: #8c99ff;
}

form.invoice-form .input-with-label input {
	min-width: 500px;
} */


form.invoice-form .input-with-label .file-extention {
	font-weight: 500;
	font-size: 1rem;
	margin-right: .5rem;
}

form.invoice-form .item-description-table .entry input,
.invoice-input {
	outline: none;
	padding: .7em 0em;
	text-indent: 1em;
	border-radius: 20px;
	transition: .3s all ease;
	font-weight: 500;
	background-color: rgba(198, 175, 255, 0.3);
}

form.invoice-form .item-description-table .entry input:hover,
form.invoice-form .item-description-table .entry input:focus {
	background-color: rgba(198, 175, 255, 0.1);
}

form.invoice-form .notes {
	width: 100%;
	margin: auto;
	position: relative;
}

form.invoice-form .notes .note-title {
	color: #8c99ff;
	font-weight: 600;
	margin: 1em .5em;
	text-transform: uppercase;
}

form.invoice-form .notes textarea.notes-input {
	width: calc(100% - 2em);
	height: 20vw;
	max-height: 10em;
	text-indent: 0;
	appearance: none;
	border: none;
	background-color: rgb(236, 228, 255, .9);
	padding: 1em;
	border-radius: 10px;
	outline: none;
	resize: none;
	margin-bottom: 6rem;
	font-size: 1rem;
	padding-bottom: 2em;
	font-family: 'Roboto', sans-serif;
}

form.invoice-form .notes textarea.notes-input.error {
	background-color: #ED4E58;
}


@media screen and (max-width:600px) {
	form.invoice-form .notes textarea.notes-input {
		height: 10rem;
	}


	form.invoice-form .fees-grid {
		width: 100%;
	}



	form.invoice-form .client-info-inputs .inputs {
		grid-template-columns: 1fr;
	}

	form.invoice-form .button-area {
		justify-content: center;
	}
	
}